<!-- https://www.color-hex.com/color-palette/71855 -->
<button
  *ngIf="options"
  type="button"
  data-te-ripple-init
  data-te-ripple-color="light"
  (click)="options.click(options.contexto)"
  [ngClass]="{
    'uppercase': isUppercase(),
    'bg-[#a6ddd5] border-[#a6ddd5] text-white 
         hover:bg-[#c4eee8] hover:border-[#c4eee8]': isSecondary(),
    'bg-[#f8f9f9] border-[#78bab2] 
         text-secondary-800 hover:bg-[#bfebe5]': isSecondaryOutlined(),
    'bg-[#385a7c] border-[#385a7c] text-white
         hover:bg-primary-600 focus:bg-primary-600': isPrimary(),
    'border-[#385a7c] bg-[#f1f3f5] 
         text-primary-600 hover:bg-primary-200': isPrimaryOutlined(),
  }"
  class="inline-block flex flex-row items-center gap-2 rounded-[8px] 
  px-6 pb-2 pt-2.5 xs:text-[0.8em] sm:text-[0.9em] md:text-[1em] 
  lg:text-[1.2em] font-medium leading-normal
   text-white transition duration-150 ease-in-out font-roboto border-[2px] 
  hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] 
  focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] 
  focus:outline-none focus:ring-0">
  <img *ngIf="options.svg" class="w-6 h-auto" #svg 
    src='{{"../../../assets/img/"+this.options.svg}}' alt="{{options.svg}}"/>
  {{options.texto}}
</button>

