<!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com --> 
<div class="flex justify-center">
  <div class="pt-8 flex flex-col gap-3">
    <p class="text-3xl font-sans">{{title}} </p>
    
    <app-rebutton 
      class="animate animate-bounce my-6"
      [options]="{
      texto: 'Saluda a Fabo ✌️',
      click: cambiaTexto,
      contexto: this,
      color: 'primary outlined',
      uppercase: false,
      svg: null
    }"></app-rebutton>
  </div>
</div>